.taskCards {
  list-style-type: none;
  padding-left: 0;
  background: #e0e0e0;
  margin: 0 5px;
  padding: 8px;
  border-radius: 2px;
}

.title-header {
  text-align: center;
  padding: 6px 6px;
  margin: 0;
}

.titleHeader-0 {
  background-color: rgb(189, 136, 189);
}

.titleHeader-1 {
  background-color: orange;
}

.titleHeader-2 {
  background-color: rgb(37, 190, 50);
}

.task-card {
  background: #ffffff;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 2px;
  word-break: break-all;
  word-wrap: break-word;
  cursor: pointer;
}

.task-card:hover {
  background-color: #f9f3f3;
}

.taskCardTitle {
  text-align: left;
  border-bottom: 1px dotted black;
}

.deleteButton {
  float: right;
  font-size: 10px;
}
